
a{
    text-decoration: none;
}
h1{
    text-align: center;
    border-bottom: 2px solid #3333;
}
.admin--content{
    display: flex;
}
.admin--content--left{
    background-color:beige;
    min-width: 240px;
    height: 100vh;
    margin-right: 20px;
}

.admin--content--right{
    padding-left: 20px;
}
.admin--content--right table tr td img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}
.admin--content--right table tr td{
    max-width: 300px;
    word-wrap: break-word;
    text-align: center;
}
.admin--content--right table tr td:last-child {
    text-align: center;
}
input{
    min-width: 400px;
    height: 50px;
}
.admin--content--right table tr td a{
    padding: 10px;
    display: block;
    color: white;
}
.admin--content--right table tr td a:nth-child(1){
    background-color: red;
}
.admin--content--right table tr td a:nth-child(2){
    background-color: yellowgreen;
}
.admin--content--right table tr td a:nth-child(3){
    background-color: green;
}

